* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
}

/* header-start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(220, 245, 233);
}

#navigation-menu > ul {
  display: flex;
  gap: 50px;
}

#navigation-menu > ul > li {
  list-style: none;
}

#navigation-menu > ul > li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
/* header-end */

/* main-start */
main {
  gap: 100px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgb(220, 245, 233);
}

#content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 20px;
}

#article-main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#article-main-content > h1 {
  font-size: 50px;
}

#article-sub-content {
  display: flex;
  gap: 15px;
}

.article-sub-content-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 60px;
  background-color: white;
  padding-left: 20px;
}

#aside-image > img {
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  border: 1px solid black;
  border-left: none;
  width: 500px;
}
/* main-end */

/* footer-start */
footer {
  text-align: center;
  background-color: rgb(220, 245, 233);
}
/* footer-end */
