/* Reset Styling - Start */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid black;
} */
/* Reset Styling - End */

/* General Styling - Start */
body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
}
/* General Styling - End */

/* Header Styling - Start */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-container > .navigation-list > ul {
  display: flex;
  gap: 50px;
}

.header-container > .navigation-list > ul > li {
  list-style: none;
}

.header-container > .navigation-list > ul > li > a {
  text-decoration: none;
  color: black;
}
/* Header Styling - End */

/* Main Styling - Start */
.main-container {
  display: flex;
  flex-direction: column;
}

.main-container > .content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container > .content-1 > .description-1 {
  display: flex;
  flex-direction: column;
}

.main-container > .content-1 > .description-1 > h1,
h4 {
  text-align: center;
}

.main-container > .content-1 > .description-2 {
  display: flex;
  gap: 50px;
}

.main-container > .content-1 > .description-2 > .bullet-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container > .content-1 > .description-2 > .bullet-point > i,
p {
  text-align: center;
}

.main-container > .content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container > .content-2 > .image > img {
  width: 100%;
}

.main-container > .content-2 > .registration {
  background-color: rgb(237, 237, 237);
  border-top-left-radius: 220px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 220px;
  border-bottom-left-radius: 80px;
  padding: 20px 20px;
}

.main-container > .content-2 > .registration > .form {
  display: flex;
  flex-direction: column;
}

.main-container > .content-2 > .registration > .form > input {
  font-family: "Quicksand", sans-serif;
  padding: 10px 5px;
}

.main-container > .content-2 > .registration > .form > .submit:hover {
  cursor: pointer;
}
/* Main Styling - End */

/* Media Queries - Start */

/* Media Queries - End */
