/* General Styling */
body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
}

/* Header Styling */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid rgb(237, 237, 237);
}

.header-container > .navigation-list > ul {
  display: flex;
  gap: 50px;
}

.header-container > .navigation-list > ul > li {
  list-style: none;
}

.header-container > .navigation-list > ul > li > a {
  text-decoration: none;
  color: black;
}

/* Main Styling */
.main-container {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(237, 237, 237);
}

.main-container > .content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 80px;
}

.main-container > .content-1 > .description {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 237, 237);
  padding: 20px 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.main-container > .content-1 > .description > h1,
h4 {
  text-align: right;
}

.main-container > .content-1 > .description > h1 > .text-webdev {
  color: rgb(237, 237, 237);
  background-color: rgb(30, 101, 99);
  letter-spacing: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 1px 9px;
}

.main-container > .content-1 > .course-options {
  display: flex;
  flex-direction: column;
}

.main-container > .content-1 > .course-options > .option .button-read-more {
  border: none;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: bold;
}

.main-container
  > .content-1
  > .course-options
  > .option
  .button-read-more:hover {
  background-color: rgb(93, 116, 124);
  color: white;
}

.main-container
  > .content-1
  > .course-options
  > .option
  .button-read-more:hover {
  cursor: pointer;
}

.main-container > .content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 50px;
}

.main-container > .content-2 > .image > img {
  width: 100%;
}

.main-container > .content-2 > .benefit {
  display: flex;
  flex-direction: column;
}

.main-container > .content-2 > .benefit > .benefit-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container > .content-2 > .registration {
  background-color: rgb(237, 237, 237);
  padding: 20px 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.main-container > .content-2 > .registration > .form {
  display: flex;
  flex-direction: column;
}

.main-container > .content-2 > .registration > .form > input {
  font-family: "Quicksand", sans-serif;
  padding: 10px 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
}

.main-container > .content-2 > .registration > .form > .submit {
  font-weight: bold;
}

.main-container > .content-2 > .registration > .form > .submit:hover {
  cursor: pointer;
  background-color: rgb(93, 116, 124);
  color: white;
}

/* Footer Styling */
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container > .social-media {
  display: flex;
}

.footer-container > .social-media > .social-link > ul {
  display: flex;
  gap: 15px;
}

.footer-container > .social-media > .social-link > ul > Li {
  list-style: none;
}
.footer-container > .social-media > .social-link > ul > Li > a {
  text-decoration: none;
  color: rgb(93, 116, 124);
}

.footer-container
  > .social-media
  > .social-link
  > ul
  > Li
  > .link-facebook:hover {
  color: rgb(59, 89, 152);
}

.footer-container
  > .social-media
  > .social-link
  > ul
  > Li
  > .link-twitter:hover {
  color: rgb(29, 161, 242);
}

.footer-container
  > .social-media
  > .social-link
  > ul
  > Li
  > .link-linkedin:hover {
  color: rgb(10, 102, 194);
}

.footer-container
  > .social-media
  > .social-link
  > ul
  > Li
  > .link-youtube:hover {
  color: rgb(204, 24, 30);
}

/* Media Queries */
